@font-face {
    font-family: "Better Together" ;
    src: url(./fontes/Better\ Together.ttf);
}

@font-face {
    font-family: "Hello" ;
    src: url(./fontes/Hello.ttf);
}


*{
    margin: 5px;
    padding: 0px;
}

header{
    background-color:lightblue ;
    display:flex;
    align-items: center;
    justify-content: space-around;
    
}

img#mundo{
    width: 30%;
    margin: 40px;
}

img#leticia{
    width: 15%;
    margin: 15%;
    border-radius: 40%;
    box-shadow: 2px 2px 2px 2px;
}


header h1{
    color: rgba(137, 43, 226, 0.706);
    font-size: 80px;
    text-align: center;
    justify-content: center;
    font-family: "Better Together", cursive;
}

header h3{
    color: rgba(137, 43, 226, 0.706);
    font-size: 40px;
    text-align: center;
    justify-content: center;
    font-family: "Better Together", cursive;
}

nav{
    background-color: gainsboro;
    display: flow-root;
    height: 70px;
}

ul{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

ul li{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 5px;    
}

nav ul li a{
    text-decoration: none;
    font-family: "Hello", cursive;
    font-size: 28px;
    color: indigo;
}

li:hover{
    background-color: gray;  
}

nav a:hover{
    color: white;
    font-size: 30px;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: whitesmoke;
}

img#travel{
    width: 20%;
    margin: 25px;
}

main h2{
    font-family: "Hello", cursive;
    font-size: 40px;
    justify-content: center;
    display: flex; 
    color: blueviolet;  
}

.viajar{
    display: flex;
    justify-content: flex-start;
    padding: 10px;
    align-items: center;
}

img#passaporte{
    width: 15%;
    margin: 10px ;
    
}

.destino{
    display: flex;
    justify-content: flex-start;
    padding: 10px;
    align-items: center; 
}

img#viajarmundo{
    width: 20%;
    margin: 20px ;
}

img#travel2{
    width: 20%;
    margin: 20px ;
}

.dica{
    display: flex;
    justify-content: flex-start;
    padding: 10px;
    align-items: center; 
}

.sessao{
    height: 500px;
    width: 100%;
    background-color: whitesmoke;
}

section#home{
    display: flex;
    align-items: center;
    justify-content: center;
}

section#destinos{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: deepskyblue;
    color: blueviolet;
}
section#dicas{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:blanchedalmond;
    color: blueviolet;
}

section#fotografia{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:darkkhaki;
    color: blueviolet;
}

section#contatos{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:darkseagreen;
    color: blueviolet;
}

#texto p{
    font-size: 15px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    
}



footer{
    display: flex;
    height: 7%;
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color:lightblue ;
    color: rgba(137, 43, 226, 0.706);
    position: fixed;
    bottom: 0px;
}






@media screen and (max-width: 800px) {
    header{
        flex-direction: column;
        padding: 20px;
    }
  }

  @media screen and (max-width: 600px) {
    selection#home{
        flex-direction: column;
        padding: 20px;
    }
  }

  p.black{
    text-align: center;
 }

  #texto h2{
    text-align: center;
  }